/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  h1, h2 {
    color: #333;
    text-align: center;
  }
  
  /* Hero Section */
  .hero {
    background: url('./Design\ sem\ nome\ \(3\).png') no-repeat center center/cover;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .hero p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin: 10px 0 20px;
  }
  
  .hero button {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .hero button:hover {
    background-color: #fff;
  }
  
  
  /* Seção Sobre */
  .sobre, .catalogo, .contato {
    padding: 40px 20px;
  }
  
  .sobre p {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
  }
  
  /* Seção Catálogo */
  .catalogo {
    background-color: #f4f4f4;
  }
  
  .catalogo h2 {
    margin-bottom: 20px;
  }
  
  /* Estilos para os cards de veículos */
  .card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  /* Seção de Contato e Depoimentos */
  .contato {
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
  }
  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
  }
  
  .card button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .card button:hover {
    background-color: #e55c00;
  }
  
  a img {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s;
}

a img:hover {
  transform: scale(1.1);
}
